#include "windows.h"
#include "igx_service.h"


GenericMenu MENU
  {
    POPUP    "&File"
    {
      MENUITEM "Clear &Display",   IDM_CLEAR
      MENUITEM "&Verbose Trace",   IDM_VERBOSE
      MENUITEM "E&xit",   IDM_EXIT
    }
    POPUP    "&Bus"
    {
      MENUITEM "&PlugIn", IDM_PLUGIN
      MENUITEM "&UnPlug (Surprise Removal)", IDM_UNPLUG
      MENUITEM "&Eject",  IDM_EJECT
    }
    POPUP    "&Function"
    {
      MENUITEM "&Open",  IDM_OPEN
      MENUITEM "&Close", IDM_CLOSE
      MENUITEM "&Pause", IDM_PAUSE
      MENUITEM "&Resume", IDM_RESUME
      MENUITEM "&Hide",  IDM_HIDE
      
    }
    POPUP    "Fil&ter"
    {
      MENUITEM "&Ioctl to Control Device",  IDM_IOCTL     
    }
  }



/////////////////////////////////////////////////////////////////////////////
//
// Dialog for plug in
//

IDD_DIALOG DIALOG DISCARDABLE  0, 0, 289, 86
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Plug In Device"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "OK",ID_OK,72,61,50,14,BS_NOTIFY
    PUSHBUTTON   "CANCEL",ID_CANCEL,170,60,50,14,BS_NOTIFY
    LTEXT           "Serial Number :",IDC_STATIC,18,13,55,8
    LTEXT           "Device ID :",IDC_STATIC,20,35,55,8
    EDITTEXT        IDC_SERIALNO,75,11,24,14,ES_NUMBER
    EDITTEXT        IDC_DEVICEID,76,32,200,14,ES_AUTOHSCROLL
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog for unplug/hide/enable/disable
//

IDD_DIALOG1 DIALOG DISCARDABLE  0, 0, 232, 86
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Enter SerialNo of the device"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Serial Number :",IDC_STATIC,18,13,55,8
    EDITTEXT        IDC_SERIALNO,75,11,24,14,ES_NUMBER
    DEFPUSHBUTTON   "OK",ID_OK,27,61,50,14,BS_NOTIFY
    PUSHBUTTON   "CANCEL",ID_CANCEL,121,60,50,14,BS_NOTIFY
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// IDI_CLASS_ICON               ICON    DISCARDABLE     "IGX_SERFVICE.ICO"


/////////////////////////////////////////////////////////////////////////////
//
// version info
//

#include "igxver.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION IGX_FILEVERSION
 PRODUCTVERSION IGX_PRODUCTVERSION 
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",        "Intelligraphics, Inc\0"
            VALUE "FileDescription",    "Intelligraphisc Serial Service\0"
            VALUE "FileVersion",        IGX_FILEVERSION_STR
            VALUE "InternalName",       "IGX_SERVICE\0"
            VALUE "LegalCopyright",     "© 2015 Intelligraphics, Inc\0"
            VALUE "OriginalFilename",   "IGX_SERVICE.EXE\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END


